@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@import "@fuma-comment/react/preset.css";

@custom-variant dark (&:is(.dark *));

@source '../../node_modules/fumadocs-ui/dist/**/*.js';
@source '../../node_modules/@fuma-comment/react/dist/**/*.js';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9900 0 0);
  --foreground: oklch(0.2757 0.0054 106.7500);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2757 0.0054 106.7500);
  --popover: oklch(0.9900 0 0);
  --popover-foreground: oklch(0.2757 0.0054 106.7500);
  --primary: oklch(0.6454 0.0766 77.4000);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9400 0 0);
  --secondary-foreground: oklch(0.2757 0.0054 106.7500);
  --muted: oklch(0.9700 0 0);
  --muted-foreground: oklch(0.4400 0 0);
  --accent: oklch(0.9400 0 0);
  --accent-foreground: oklch(0.4882 0.0370 100.3600);
  --destructive: oklch(0.6300 0.1900 23.0300);
  --border: oklch(0.9200 0 0);
  --input: oklch(0.9400 0 0);
  --ring: oklch(0.4882 0.0370 100.3600);
  --chart-1: oklch(0.8100 0.1700 75.3500);
  --chart-2: oklch(0.5500 0.2200 264.5300);
  --chart-3: oklch(0.7200 0 0);
  --chart-4: oklch(0.9200 0 0);
  --chart-5: oklch(0.5600 0 0);
  --sidebar: oklch(0.9900 0 0);
  --sidebar-foreground: oklch(0.2757 0.0054 106.7500);
  --sidebar-primary: oklch(0.2757 0.0054 106.7500);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9400 0 0);
  --sidebar-accent-foreground: oklch(0.4882 0.0370 100.3600);
  --sidebar-border: oklch(0.9400 0 0);
  --sidebar-ring: oklch(0.4882 0.0370 100.3600);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Plus Jakarta Sans, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #242423;
  --shadow-opacity: 0.18;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 0px 0px hsl(60 1.4085% 13.9216% / 0.09);
  --shadow-xs: 0px 1px 0px 0px hsl(60 1.4085% 13.9216% / 0.09);
  --shadow-sm: 0px 1px 0px 0px hsl(60 1.4085% 13.9216% / 0.18), 0px 1px 2px -1px hsl(60 1.4085% 13.9216% / 0.18);
  --shadow: 0px 1px 0px 0px hsl(60 1.4085% 13.9216% / 0.18), 0px 1px 2px -1px hsl(60 1.4085% 13.9216% / 0.18);
  --shadow-md: 0px 1px 0px 0px hsl(60 1.4085% 13.9216% / 0.18), 0px 2px 4px -1px hsl(60 1.4085% 13.9216% / 0.18);
  --shadow-lg: 0px 1px 0px 0px hsl(60 1.4085% 13.9216% / 0.18), 0px 4px 6px -1px hsl(60 1.4085% 13.9216% / 0.18);
  --shadow-xl: 0px 1px 0px 0px hsl(60 1.4085% 13.9216% / 0.18), 0px 8px 10px -1px hsl(60 1.4085% 13.9216% / 0.18);
  --shadow-2xl: 0px 1px 0px 0px hsl(60 1.4085% 13.9216% / 0.45);
  --tracking-normal: 0em;
  
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.1400 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.1800 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.6454 0.0766 77.4000);
  --primary-foreground: oklch(0.9400 0 0);
  --secondary: oklch(0.2500 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2300 0 0);
  --muted-foreground: oklch(0.7200 0 0);
  --accent: oklch(0.3200 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6900 0.2000 23.9100);
  --border: oklch(0.2600 0 0);
  --input: oklch(0.3200 0 0);
  --ring: oklch(0.7200 0 0);
  --chart-1: oklch(0.8100 0.1700 75.3500);
  --chart-2: oklch(0.5800 0.2100 260.8400);
  --chart-3: oklch(0.5600 0 0);
  --chart-4: oklch(0.4400 0 0);
  --chart-5: oklch(0.9200 0 0);
  --sidebar: oklch(0.1800 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3200 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3200 0 0);
  --sidebar-ring: oklch(0.7200 0 0);
  --destructive-foreground: oklch(0 0 0);
  --radius: 0.5rem;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Plus Jakarta Sans, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.18;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.45);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply [overflow-wrap:anywhere];
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

@layer utilities {
  .bg-dashed {
    background-image: linear-gradient(
      45deg,
      var(--color-border) 12.50%,
      transparent 12.50%,
      transparent 50%,
      var(--color-border) 50%,
      var(--color-border) 62.50%,
      transparent 62.50%,
      transparent 100%
    );
    background-size: 0.25rem 0.25rem;
  }


  .border-border {
    @apply border-border/70 dark:border-border;
  }

  .divide-border {
    @apply divide-border/70 dark:divide-border;
  }

  @media print {
  #nd-docs-layout {
    --fd-sidebar-width: 0px !important;
  }
  #nd-sidebar {
    display: none;
  }
  
}

}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}